{{- $cleanedDestination := replace .Destination "./" "" }}
{{- $isCapture := strings.Contains .Destination "capture" -}}
{{- $img := .Page.Resources.Get $cleanedDestination -}}
{{- $extension := path.Ext $img -}}
{{- if not $img -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" class="error" />
{{- else -}}
  <figure {{ with $isCapture }}class="capture"{{ end }}>
    {{ $imageWidth := $img.Width }}
    {{- if ge $imageWidth 800 -}}
      {{- $medium := $img.Resize "800x webp" -}}
      {{- $small := $img.Resize "450x webp" -}}
      <img
        alt="{{ $.Text }}"
        src="{{ $small.Permalink }}"
        width="{{ $medium.Width }}"
        height="{{ $medium.Height }}"
        loading="lazy"
        srcset="
          {{ replace $small.RelPermalink $extension ".webp" }} 450w,
          {{ replace $medium.RelPermalink $extension ".webp" }} 800w
        "
        sizes="100vw" />
    {{- else if and (gt $imageWidth 450) (lt $imageWidth 800) -}}
      {{- $medium := $img.Resize (printf "%dx webp" $imageWidth) -}}
      {{- $small := $img.Resize "450x webp" -}}
      <img
        alt="{{ $.Text }}"
        src="{{ $img.Permalink }}"
        width="{{ $medium.Width }}"
        height="{{ $medium.Height }}"
        loading="lazy"
        srcset="
          {{ replace $small.RelPermalink $extension ".webp" }} 450w,
          {{ replace $medium.RelPermalink $extension ".webp" }} {{ printf "%dw" $imageWidth }}
        "
        sizes="(max-width: 450px) 450px, 100vw" />
    {{- else -}}
      {{- $small := $img.Resize (printf "%dx webp" $imageWidth) -}}
      <img
        src="{{ $img.Permalink }}"
        alt="{{ $.Text }}"
        widht="{{ $small.Width }}"
        height="{{ $small.Height }}"
        loading="lazy"
        srcset="{{ replace $small.RelPermalink $extension ".webp" }} {{ printf "%dw" $imageWidth }}"
        sizes="{{ printf "%dpx" $imageWidth }}" />
    {{- end -}}
    <figcaption>{{ with $.Text | safeHTML }}{{ . }}{{ end }}</figcaption>
  </figure>
{{- end -}}
